################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64
/sudoku/x64/Release
/sudoku/x64/Debug
/.vs/Sudoku/v15/ipch
/.vs/Sudoku/v15
